RewriteEngine On
RewriteCond %{HTTP_HOST} !^www.alterframe.pt$ [NC]
RewriteRule ^(.*)$ http://www.alterframe.pt/$1 [L,R=301]
RewriteCond %{HTTP_HOST} ^199\.27\.79\.133
RewriteRule (.*) http://www.alterframe.pt/$1 [R=301,L]
